*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    max-width: 100%;
}

body{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    background-color: #343a40;
}

.navbar > .container-fluid {
    justify-content: space-around;
}

.navbar > .container-fluid > .navbar-brand{
    font-size: 1.8rem;
}

.d-block {
    height: 80vh;
    object-fit: cover;
}

.contentDiv{
    margin: auto;
}

.rowContainer{
    height: 100%;
    width: 100vw;
    display: grid;
    grid-template-rows: 1fr 1fr;
    padding: 30px;
    gap: 15px;
}

#currentCard{
    border-radius: 30px;
}

.title{
    margin: 30px;
}

.currentSVG{
    height: 7rem;
    width: 7rem;
    margin: 30px;
}

.row2{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
}

.hourDiv{
    width: clamp(250px, 15%, 20%);
    padding: 3px;
}

.hourImg{
    height: 4rem;
    width: 4rem;
}

p {
    margin-left: 10px;
}